*{
     color: #03C988;
 }

h1{
    justify-content: right;
    align-items: center;
}
button{
    border: 3px;
    height: auto;
    width: auto;
}
.navbar{
    position: fixed;
    background: linear-gradient(to right, rgba(19, 0, 90, 0.3), rgba(0, 51, 124, 0.3));
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(3, 201, 136, 0.3);
    z-index: 10;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar ul{
    list-style-type: none;
    background-color: rgba(3, 201, 136, 0.3);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar li{
    float: left;
}
.navbar a:hover{
    background-color: rgba(53, 125, 224, 0.3);
}
.menu a.active{
    background-color: #03C988;
    color: white;
}
.logo{
    height: 75px;
}
a{
    text-decoration: none;
    color: white;
}
.navbar form button{
    background-color: #ff4b5c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
h1{
    padding-top: 100px;
    color: #03C988;
    text-align: center;
margin: 0 auto;
}

.single-price{
    text-align: center;
    background: #262626;
    margin-top: 20px;
}
.single-price h3{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    margin-top: -80px;
    color: #fff;
}
.single-price h4{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
.single-price h4 span.sup{
    vertical-align: text-top;
    font-size: 15px;
    color: #ffffff;
}
.deal-top{
    position: relative;
    background: #16a086;
    font-size: 13px;
    text-transform: uppercase;
    padding: 136px 24px 0;
}
.deal-top:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -50px;
    width: 0;
    height: 0;
    border-top: 50px solid #16a086;
    border-left: 175px solid transparent;
    border-right: 183px solid transparent;
}
.deal-bottom{
    padding: 56px 16px 0;
}
deal-bottom ul{
    margin: 0;
    padding: 0;
}
.deal-bottom ul li{
    font-size: 13px;
    color: #fff;
    font-weight: 300;
    margin-top: 13px;
    border-top: 1px solid #dddd;
    padding-top: 16px;
    list-style: none;
}
.btn-area {
    margin-top: 15px;
}
.btn-area button{
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #16a086;
    padding: 8px 24px;
    margin-top : 32px;
    margin-bottom: 40px;
    text-transform: 40px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.btn-area button:hover {
    background-color: rgba(3, 201, 136, 0.8);
}
.single-price:hover{
    background: #16a086;
}
.single-price:hover .deal-top{
    background: #262626;
}
.single-price:hover .deal-top:after{
    border-top: 50px solid #262626;
}





